<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>
</head>
<body>
   <form class="main_form" action='login' method='POST'>
      <input type='text' class="input" name='username' id='username' placeholder='username'/><br>
      <input type='password' class="input" name='password' id='password' placeholder='password'/><br>
      <input type='submit' name='submit'/>
     </form>
</body>
</html>